# Composer files
composer.phardi
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

#Local
.idea
.env
d-*
/docker/mysql/*
.run/
docker/php
docker-compose-unit.yml
